/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	.form-title {
		margin-bottom: 22px;
		text-transform: uppercase;
	}

	.form-body {
		margin-bottom: 30px;
	}
}

.embedded-form-container {
	margin: 0 auto;
	height: 875px;
	justify-self: center;
	text-align: center;
	overflow: hidden
}

@media (max-width: 720px) {
	.embedded-form-container {
		height: 920px;
	}
  }

  @media (max-width: 600px) {
	.embedded-form-container {
		height: 930px;
	}
  }

.embedded-form {
	position: relative; 
	top: -40px;
	margin: 0 auto;
	width: 100%;
	height: 200%;
	max-width: 800px;
	
}