/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/article";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/reviews";
@import "./modules/search";
@import "./modules/support";

body {
  color: $body-font-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.header-anchor {
  display: none;
}

.case-studies {
  a {
    color: $primary;
  }
}

.supporters {
  .columns {
    flex-wrap: wrap;
    .logo-supporter {
      flex: 0 0 33%;
    }
  }
}

.section-one {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80%;
  max-width: 960px;
}

.container-one {
  display: flex;
  flex-direction: row;
  max-height: 260px;
  justify-content: space-evenly;
  word-wrap: break-word;
  
}

.container-two {
  display: flex;
  flex-direction: row;
  height: 240px;
  margin-bottom: 60px;
  justify-content: space-evenly;
}

.section-text-left {
  width: 50%;
  padding-right: 30px;
  margin-bottom: 60px;
}

.section-text-right {
  width: 50%;
  padding-left: 30px;
}

.section-tag {
  letter-spacing: 1.5px;
}

.section-paragraph {
  margin-bottom: 60px;
  
}

.img-container-rt {
  width: 50%;
  border-radius: 25px;
  padding-left: 30px;
  display: flex;
  justify-content:  flex-end;
}

.img-container-lt {
  width: 50%;
  border-radius: 25px;
  padding-right: 30px;
  display: flex;
  justify-content:  flex-start;
}

.img-rt {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  object-position: 15% 100%;
}

.img-lt {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  object-position: 15% 50%;
}

.text-cta {
  font-weight: bold;
  color: #5602a4;
}